<!DOCTYPE html>
<html lang="en">
<head>
  <title>Our demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script>
 
</head>
<body>

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cas</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="cas.html">CAS</a></li>
      <li><a href="#">Nav 2</a></li>
      <li><a href="#">Nav 3</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
    <h4>Please insert your input:</h4>
    <form method="POST" id="blogpost_data">
      <div class="form-group">
        <label for="comment"></label>
        <textarea class="form-control" rows="5" id="input" name="blogpost">{% if blogpost %}{{blogpost}}{% endif %}</textarea><br>
        <button type="submit" class="btn btn-success" id="submit">Submit</button>
        <button type="reset" class="btn btn-dark" id="reset">Reset</button><br>
      </div>
    </form>
<div id="contents">
    {% if analysis %}
    <h3 class="text-justify">{{analysis}}</h3>
    {% endif %}

    {% if analysis %}
    <h4 class="text-justify">{{analysis}}</h4>
    <div class="container">
    <div class="row">

        {% for article in articles%}
        <div class="col-xs-6 well"id="divcard">
            <div class="caption">
                <h5>{{ article.score }}</h5>
                <div class="card bg-light">
                    <div class="card-body">
                        <p class="card-text well">{{article.description}}</p>
                    </div>
                </div>
                <p>
                <a href="{{article.link}}" class="btn btn-primary" role="button"id="link">Button</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}
</div>
</div>
  <script src="{{ url_for('static', filename='js/cas.js' )}} "></script>
  <script src="js/index.js"></script>
</body>
</html>
